tools-new/lib/exml/exml.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://ns.egret.com/swan" xmlns="http://ns.egret.com/swan" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:m="http://ns.egret-labs.org/manifest">
  <xs:attributeGroup name="lark.Bitmap">
    <xs:attributeGroup ref="lark.DisplayObject"/>
    <xs:attribute name="bitmapData" type="xs:string"/>
    <xs:attribute name="pixelHitTest" type="xs:boolean"/>
    <xs:attribute name="smoothing" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="any">
    <xs:choice>
      <xs:any/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="any">
    <xs:group ref="any"/>
  </xs:complexType>
  <xs:group name="boolean">
    <xs:choice>
      <xs:element ref="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="boolean">
    <xs:group ref="boolean"/>
  </xs:complexType>
  <xs:group name="Bitmap_attributeElement">
    <xs:choice>
      <xs:group ref="DisplayObject_attributeElement"/>
      <xs:element name="bitmapData" type="any"/>
      <xs:element name="pixelHitTest" type="boolean"/>
      <xs:element name="smoothing" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Bitmap">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Bitmap_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Bitmap"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="lark.BlendMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="add"/>
      <xs:enumeration value="erase"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="lark.DisplayObject">
    <xs:attributeGroup ref="lark.EventEmitter"/>
    <xs:attribute name="alpha" type="xs:decimal"/>
    <xs:attribute name="blendMode" type="lark.BlendMode"/>
    <xs:attribute name="cacheAsBitmap" type="xs:boolean"/>
    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="excludeFrom" type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:attribute name="includeIn" type="xs:string"/>
    <xs:attribute name="locked" type="xs:boolean"/>
    <xs:attribute name="mask" type="xs:string"/>
    <xs:attribute name="matrix" type="xs:string"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="rotation" type="xs:decimal"/>
    <xs:attribute name="scaleX" type="xs:decimal"/>
    <xs:attribute name="scaleY" type="xs:decimal"/>
    <xs:attribute name="scrollRect" type="xs:string"/>
    <xs:attribute name="touchEnabled" type="xs:boolean"/>
    <xs:attribute name="visible" type="xs:boolean"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="x" type="xs:decimal"/>
    <xs:attribute name="y" type="xs:decimal"/>
    <xs:anyAttribute processContents="skip"/>
  </xs:attributeGroup>
  <xs:group name="number">
    <xs:choice>
      <xs:element ref="number"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="number">
    <xs:group ref="number"/>
  </xs:complexType>
  <xs:group name="string">
    <xs:choice>
      <xs:element ref="string"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="string">
    <xs:group ref="string"/>
  </xs:complexType>
  <xs:group name="lark.DisplayObject">
    <xs:choice>
      <xs:element ref="Bitmap"/>
      <xs:element ref="Button"/>
      <xs:element ref="CheckBox"/>
      <xs:element ref="Component"/>
      <xs:element ref="DataGroup"/>
      <xs:element ref="DisplayObject"/>
      <xs:element ref="EditableText"/>
      <xs:element ref="Group"/>
      <xs:element ref="HScrollBar"/>
      <xs:element ref="HSlider"/>
      <xs:element ref="Image"/>
      <xs:element ref="ItemRenderer"/>
      <xs:element ref="Label"/>
      <xs:element ref="List"/>
      <xs:element ref="ListBase"/>
      <xs:element ref="Panel"/>
      <xs:element ref="ProgressBar"/>
      <xs:element ref="RadioButton"/>
      <xs:element ref="Range"/>
      <xs:element ref="ScrollBarBase"/>
      <xs:element ref="Scroller"/>
      <xs:element ref="Shape"/>
      <xs:element ref="SliderBase"/>
      <xs:element ref="Sprite"/>
      <xs:element ref="Stage"/>
      <xs:element ref="TabBar"/>
      <xs:element ref="TextField"/>
      <xs:element ref="TextInput"/>
      <xs:element ref="ToggleButton"/>
      <xs:element ref="ToggleSwitch"/>
      <xs:element ref="UILayer"/>
      <xs:element ref="VScrollBar"/>
      <xs:element ref="VSlider"/>
      <xs:element ref="ViewStack"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="lark.DisplayObject">
    <xs:group ref="lark.DisplayObject"/>
  </xs:complexType>
  <xs:group name="lark.Matrix">
    <xs:choice>
      <xs:element ref="Matrix"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="lark.Matrix">
    <xs:group ref="lark.Matrix"/>
  </xs:complexType>
  <xs:group name="lark.Rectangle">
    <xs:choice>
      <xs:element ref="Rectangle"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="lark.Rectangle">
    <xs:group ref="lark.Rectangle"/>
  </xs:complexType>
  <xs:group name="DisplayObject_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
      <xs:element name="alpha" type="number"/>
      <xs:element name="blendMode" type="string"/>
      <xs:element name="cacheAsBitmap" type="boolean"/>
      <xs:element name="class" type="string"/>
      <xs:element name="excludeFrom" type="string"/>
      <xs:element name="height" type="number"/>
      <xs:element name="includeIn" type="string"/>
      <xs:element name="locked" type="boolean"/>
      <xs:element name="mask" type="lark.DisplayObject"/>
      <xs:element name="matrix" type="lark.Matrix"/>
      <xs:element name="name" type="string"/>
      <xs:element name="rotation" type="number"/>
      <xs:element name="scaleX" type="number"/>
      <xs:element name="scaleY" type="number"/>
      <xs:element name="scrollRect" type="lark.Rectangle"/>
      <xs:element name="touchEnabled" type="boolean"/>
      <xs:element name="visible" type="boolean"/>
      <xs:element name="width" type="number"/>
      <xs:element name="x" type="number"/>
      <xs:element name="y" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="DisplayObject_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.DisplayObject"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Event">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="data" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="Event_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="data" type="any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Event">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Event_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Event"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.EventEmitter">
    <xs:attributeGroup ref="lark.HashObject"/>
  </xs:attributeGroup>
  <xs:group name="EventEmitter_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="EventEmitter">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="EventEmitter_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.EventEmitter"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.GeolocationEvent">
    <xs:attributeGroup ref="lark.Event"/>
  </xs:attributeGroup>
  <xs:group name="GeolocationEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="GeolocationEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="GeolocationEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.GeolocationEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Graphics">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="fillStyle" type="xs:string"/>
    <xs:attribute name="lineCap" type="xs:string"/>
    <xs:attribute name="lineJoin" type="xs:string"/>
    <xs:attribute name="lineWidth" type="xs:decimal"/>
    <xs:attribute name="miterLimit" type="xs:decimal"/>
    <xs:attribute name="strokeStyle" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="Graphics_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="fillStyle" type="any"/>
      <xs:element name="lineCap" type="string"/>
      <xs:element name="lineJoin" type="string"/>
      <xs:element name="lineWidth" type="number"/>
      <xs:element name="miterLimit" type="number"/>
      <xs:element name="strokeStyle" type="any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Graphics">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Graphics_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Graphics"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.HashObject">
    <xs:attribute name="id" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="HashObject_attributeElement">
    <xs:choice>
      <xs:element name="id" type="string"/>
    </xs:choice>
  </xs:group>
  <xs:element name="HashObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="HashObject_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.HashObject"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Matrix">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="a" type="xs:decimal"/>
    <xs:attribute name="b" type="xs:decimal"/>
    <xs:attribute name="c" type="xs:decimal"/>
    <xs:attribute name="d" type="xs:decimal"/>
    <xs:attribute name="tx" type="xs:decimal"/>
    <xs:attribute name="ty" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Matrix_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="a" type="number"/>
      <xs:element name="b" type="number"/>
      <xs:element name="c" type="number"/>
      <xs:element name="d" type="number"/>
      <xs:element name="tx" type="number"/>
      <xs:element name="ty" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Matrix">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Matrix_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Matrix"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.MotionEvent">
    <xs:attributeGroup ref="lark.Event"/>
  </xs:attributeGroup>
  <xs:group name="MotionEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="MotionEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="MotionEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.MotionEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.OrientationEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="alpha" type="xs:decimal"/>
    <xs:attribute name="beta" type="xs:decimal"/>
    <xs:attribute name="gamma" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="OrientationEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="alpha" type="number"/>
      <xs:element name="beta" type="number"/>
      <xs:element name="gamma" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="OrientationEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="OrientationEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.OrientationEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Point">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="x" type="xs:decimal"/>
    <xs:attribute name="y" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Point_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="x" type="number"/>
      <xs:element name="y" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Point">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Point_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Point"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.ProgressEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="bytesLoaded" type="xs:decimal"/>
    <xs:attribute name="bytesTotal" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="ProgressEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="bytesLoaded" type="number"/>
      <xs:element name="bytesTotal" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ProgressEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ProgressEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.ProgressEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Rectangle">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="width" type="xs:string"/>
    <xs:attribute name="x" type="xs:decimal"/>
    <xs:attribute name="y" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Rectangle_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="height" type="number"/>
      <xs:element name="left" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="top" type="number"/>
      <xs:element name="width" type="number"/>
      <xs:element name="x" type="number"/>
      <xs:element name="y" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Rectangle">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Rectangle_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Rectangle"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Shape">
    <xs:attributeGroup ref="lark.DisplayObject"/>
  </xs:attributeGroup>
  <xs:group name="Shape_attributeElement">
    <xs:choice>
      <xs:group ref="DisplayObject_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Shape">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Shape_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Shape"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Sprite">
    <xs:attributeGroup ref="lark.DisplayObject"/>
    <xs:attribute name="touchChildren" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="Sprite_attributeElement">
    <xs:choice>
      <xs:group ref="DisplayObject_attributeElement"/>
      <xs:element name="touchChildren" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Sprite">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Sprite_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Sprite"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Stage">
    <xs:attributeGroup ref="lark.Sprite"/>
    <xs:attribute name="frameRate" type="xs:decimal"/>
    <xs:attribute name="highResolutionMode" type="xs:string"/>
    <xs:attribute name="scaleMode" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="Stage_attributeElement">
    <xs:choice>
      <xs:group ref="Sprite_attributeElement"/>
      <xs:element name="frameRate" type="number"/>
      <xs:element name="highResolutionMode" type="string"/>
      <xs:element name="scaleMode" type="string"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Stage">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Stage_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Stage"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="lark.HorizontalAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="center"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="lark.VerticalAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="middle"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="lark.TextField">
    <xs:attributeGroup ref="lark.DisplayObject"/>
    <xs:attribute name="bold" type="xs:boolean"/>
    <xs:attribute name="fontFamily" type="xs:string"/>
    <xs:attribute name="fontSize" type="xs:decimal"/>
    <xs:attribute name="italic" type="xs:boolean"/>
    <xs:attribute name="lineSpacing" type="xs:decimal"/>
    <xs:attribute name="text" type="xs:string"/>
    <xs:attribute name="textAlign" type="lark.HorizontalAlign"/>
    <xs:attribute name="textColor" type="xs:string"/>
    <xs:attribute name="verticalAlign" type="lark.VerticalAlign"/>
    <xs:attribute name="wordWrap" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="TextField_attributeElement">
    <xs:choice>
      <xs:group ref="DisplayObject_attributeElement"/>
      <xs:element name="bold" type="boolean"/>
      <xs:element name="fontFamily" type="string"/>
      <xs:element name="fontSize" type="number"/>
      <xs:element name="italic" type="boolean"/>
      <xs:element name="lineSpacing" type="number"/>
      <xs:element name="text" type="string"/>
      <xs:element name="textAlign" type="string"/>
      <xs:element name="textColor" type="number"/>
      <xs:element name="verticalAlign" type="string"/>
      <xs:element name="wordWrap" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TextField">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TextField_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.TextField"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.TextInput">
    <xs:attributeGroup ref="lark.TextField"/>
    <xs:attribute name="displayAsPassword" type="xs:boolean"/>
    <xs:attribute name="maxChars" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="TextInput_attributeElement">
    <xs:choice>
      <xs:group ref="TextField_attributeElement"/>
      <xs:element name="displayAsPassword" type="boolean"/>
      <xs:element name="maxChars" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TextInput">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TextInput_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.TextInput"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Texture">
    <xs:attributeGroup ref="lark.HashObject"/>
  </xs:attributeGroup>
  <xs:group name="Texture_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Texture">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Texture_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Texture"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.Timer">
    <xs:attributeGroup ref="lark.EventEmitter"/>
    <xs:attribute name="delay" type="xs:decimal"/>
    <xs:attribute name="repeatCount" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Timer_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
      <xs:element name="delay" type="number"/>
      <xs:element name="repeatCount" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Timer">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Timer_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.Timer"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.TimerEvent">
    <xs:attributeGroup ref="lark.Event"/>
  </xs:attributeGroup>
  <xs:group name="TimerEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TimerEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TimerEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.TimerEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="lark.TouchEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="touchPointID" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="TouchEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="touchPointID" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TouchEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TouchEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="lark.TouchEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.AddItems">
    <xs:attribute name="position" type="xs:decimal"/>
    <xs:attribute name="propertyName" type="xs:string"/>
    <xs:attribute name="relativeTo" type="xs:string"/>
    <xs:attribute name="target" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="AddItems_attributeElement">
    <xs:choice>
      <xs:element name="position" type="number"/>
      <xs:element name="propertyName" type="string"/>
      <xs:element name="relativeTo" type="string"/>
      <xs:element name="target" type="string"/>
    </xs:choice>
  </xs:group>
  <xs:element name="AddItems">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="AddItems_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.AddItems"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ArrayCollection">
    <xs:attributeGroup ref="lark.EventEmitter"/>
    <xs:attribute name="source" type="xs:string"/>
  </xs:attributeGroup>
  <xs:complexType name="Array_any">
    <xs:group ref="any"/>
  </xs:complexType>
  <xs:group name="ArrayCollection_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
      <xs:element name="source" type="Array_any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ArrayCollection" m:defaultProp="source" m:defaultPropType="Array_any">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ArrayCollection_attributeElement"/>
        <xs:group ref="any"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ArrayCollection"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.BasicLayout">
    <xs:attributeGroup ref="swan.LayoutBase"/>
  </xs:attributeGroup>
  <xs:group name="BasicLayout_attributeElement">
    <xs:choice>
      <xs:group ref="LayoutBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="BasicLayout">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="BasicLayout_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.BasicLayout"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Button">
    <xs:attributeGroup ref="swan.Component"/>
    <xs:attribute name="icon" type="xs:string"/>
    <xs:attribute name="iconDisplay" type="xs:string"/>
    <xs:attribute name="label" type="xs:string"/>
    <xs:attribute name="labelDisplay" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.Image">
    <xs:choice>
      <xs:element ref="Image"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.Image">
    <xs:group ref="swan.Image"/>
  </xs:complexType>
  <xs:group name="swan.IDisplayText">
    <xs:choice>
      <xs:element ref="EditableText"/>
      <xs:element ref="Label"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.IDisplayText">
    <xs:group ref="swan.IDisplayText"/>
  </xs:complexType>
  <xs:group name="Button_attributeElement">
    <xs:choice>
      <xs:group ref="Component_attributeElement"/>
      <xs:element name="icon" type="any"/>
      <xs:element name="iconDisplay" type="swan.Image"/>
      <xs:element name="label" type="string"/>
      <xs:element name="labelDisplay" type="swan.IDisplayText"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Button">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Button_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Button"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.CheckBox">
    <xs:attributeGroup ref="swan.ToggleButton"/>
  </xs:attributeGroup>
  <xs:group name="CheckBox_attributeElement">
    <xs:choice>
      <xs:group ref="ToggleButton_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="CheckBox">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="CheckBox_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.CheckBox"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.CollectionEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="items" type="xs:string"/>
    <xs:attribute name="kind" type="xs:string"/>
    <xs:attribute name="location" type="xs:decimal"/>
    <xs:attribute name="oldItems" type="xs:string"/>
    <xs:attribute name="oldLocation" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="CollectionEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="items" type="Array_any"/>
      <xs:element name="kind" type="string"/>
      <xs:element name="location" type="number"/>
      <xs:element name="oldItems" type="Array_any"/>
      <xs:element name="oldLocation" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="CollectionEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="CollectionEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.CollectionEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Component">
    <xs:attributeGroup ref="lark.Sprite"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="currentState" type="xs:string"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
    <xs:attribute name="horizontalCenter" type="xs:decimal"/>
    <xs:attribute name="hostComponentKey" type="xs:string"/>
    <xs:attribute name="includeInLayout" type="xs:boolean"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="percentHeight" type="xs:decimal"/>
    <xs:attribute name="percentWidth" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="skinName" type="xs:string"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="verticalCenter" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Component_attributeElement">
    <xs:choice>
      <xs:group ref="Sprite_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="currentState" type="string"/>
      <xs:element name="enabled" type="boolean"/>
      <xs:element name="horizontalCenter" type="number"/>
      <xs:element name="hostComponentKey" type="string"/>
      <xs:element name="includeInLayout" type="boolean"/>
      <xs:element name="left" type="number"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="percentHeight" type="number"/>
      <xs:element name="percentWidth" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="skinName" type="any"/>
      <xs:element name="top" type="number"/>
      <xs:element name="verticalCenter" type="number"/>
      <xs:element ref="Skin"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Component">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Component_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Component"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.DataGroup">
    <xs:attributeGroup ref="swan.Group"/>
    <xs:attribute name="dataProvider" type="xs:string"/>
    <xs:attribute name="itemRenderer" type="xs:string"/>
    <xs:attribute name="itemRendererFunction" type="xs:string"/>
    <xs:attribute name="useVirtualLayout" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="swan.ICollection">
    <xs:choice>
      <xs:element ref="ArrayCollection"/>
      <xs:element ref="ViewStack"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.ICollection">
    <xs:group ref="swan.ICollection"/>
  </xs:complexType>
  <xs:group name="Function">
    <xs:choice/>
  </xs:group>
  <xs:complexType name="Function">
    <xs:group ref="Function"/>
  </xs:complexType>
  <xs:group name="DataGroup_attributeElement">
    <xs:choice>
      <xs:group ref="Group_attributeElement"/>
      <xs:element name="dataProvider" type="swan.ICollection"/>
      <xs:element name="itemRenderer" type="any"/>
      <xs:element name="itemRendererFunction" type="Function"/>
      <xs:element name="useVirtualLayout" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="DataGroup" m:defaultProp="dataProvider" m:defaultPropType="swan.ICollection">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="DataGroup_attributeElement"/>
        <xs:group ref="swan.ICollection"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.DataGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="DefaultAssetAdapter">
    <xs:complexType/>
  </xs:element>
  <xs:attributeGroup name="swan.EditableText">
    <xs:attributeGroup ref="lark.TextInput"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="horizontalCenter" type="xs:decimal"/>
    <xs:attribute name="includeInLayout" type="xs:boolean"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="percentHeight" type="xs:decimal"/>
    <xs:attribute name="percentWidth" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="verticalCenter" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="EditableText_attributeElement">
    <xs:choice>
      <xs:group ref="TextInput_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="horizontalCenter" type="number"/>
      <xs:element name="includeInLayout" type="boolean"/>
      <xs:element name="left" type="number"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="percentHeight" type="number"/>
      <xs:element name="percentWidth" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="top" type="number"/>
      <xs:element name="verticalCenter" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="EditableText">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="EditableText_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.EditableText"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Group">
    <xs:attributeGroup ref="lark.Sprite"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="currentState" type="xs:string"/>
    <xs:attribute name="elementsContent" type="xs:string"/>
    <xs:attribute name="horizontalCenter" type="xs:decimal"/>
    <xs:attribute name="includeInLayout" type="xs:boolean"/>
    <xs:attribute name="layout" type="xs:string"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="percentHeight" type="xs:decimal"/>
    <xs:attribute name="percentWidth" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="scrollEnabled" type="xs:boolean"/>
    <xs:attribute name="scrollH" type="xs:decimal"/>
    <xs:attribute name="scrollV" type="xs:decimal"/>
    <xs:attribute name="states" type="xs:string"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="touchThrough" type="xs:boolean"/>
    <xs:attribute name="verticalCenter" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:complexType name="Array_lark.DisplayObject">
    <xs:group ref="lark.DisplayObject"/>
  </xs:complexType>
  <xs:group name="swan.LayoutBase">
    <xs:choice>
      <xs:element ref="BasicLayout"/>
      <xs:element ref="HorizontalLayout"/>
      <xs:element ref="LayoutBase"/>
      <xs:element ref="LinearLayoutBase"/>
      <xs:element ref="TileLayout"/>
      <xs:element ref="VerticalLayout"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.LayoutBase">
    <xs:group ref="swan.LayoutBase"/>
  </xs:complexType>
  <xs:group name="swan.State">
    <xs:choice>
      <xs:element ref="State"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="Array_swan.State">
    <xs:group ref="swan.State"/>
  </xs:complexType>
  <xs:group name="Group_attributeElement">
    <xs:choice>
      <xs:group ref="Sprite_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="currentState" type="string"/>
      <xs:element name="elementsContent" type="Array_lark.DisplayObject"/>
      <xs:element name="horizontalCenter" type="number"/>
      <xs:element name="includeInLayout" type="boolean"/>
      <xs:element name="layout" type="swan.LayoutBase"/>
      <xs:element name="left" type="number"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="percentHeight" type="number"/>
      <xs:element name="percentWidth" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="scrollEnabled" type="boolean"/>
      <xs:element name="scrollH" type="number"/>
      <xs:element name="scrollV" type="number"/>
      <xs:element name="states" type="Array_swan.State"/>
      <xs:element name="top" type="number"/>
      <xs:element name="touchThrough" type="boolean"/>
      <xs:element name="verticalCenter" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Group" m:defaultProp="elementsContent" m:defaultPropType="Array_lark.DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Group_attributeElement"/>
        <xs:group ref="lark.DisplayObject"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Group"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.HScrollBar">
    <xs:attributeGroup ref="swan.ScrollBarBase"/>
  </xs:attributeGroup>
  <xs:group name="HScrollBar_attributeElement">
    <xs:choice>
      <xs:group ref="ScrollBarBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="HScrollBar">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="HScrollBar_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.HScrollBar"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.HSlider">
    <xs:attributeGroup ref="swan.SliderBase"/>
  </xs:attributeGroup>
  <xs:group name="HSlider_attributeElement">
    <xs:choice>
      <xs:group ref="SliderBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="HSlider">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="HSlider_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.HSlider"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.HorizontalLayout">
    <xs:attributeGroup ref="swan.LinearLayoutBase"/>
  </xs:attributeGroup>
  <xs:group name="HorizontalLayout_attributeElement">
    <xs:choice>
      <xs:group ref="LinearLayoutBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="HorizontalLayout">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="HorizontalLayout_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.HorizontalLayout"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="swan.BitmapFillMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="repeat"/>
      <xs:enumeration value="scale"/>
      <xs:enumeration value="clip"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="swan.Image">
    <xs:attributeGroup ref="lark.Bitmap"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="fillMode" type="swan.BitmapFillMode"/>
    <xs:attribute name="horizontalCenter" type="xs:decimal"/>
    <xs:attribute name="includeInLayout" type="xs:boolean"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="percentHeight" type="xs:decimal"/>
    <xs:attribute name="percentWidth" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="scale9Grid" type="xs:string"/>
    <xs:attribute name="source" type="xs:string"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="verticalCenter" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Image_attributeElement">
    <xs:choice>
      <xs:group ref="Bitmap_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="fillMode" type="string"/>
      <xs:element name="horizontalCenter" type="number"/>
      <xs:element name="includeInLayout" type="boolean"/>
      <xs:element name="left" type="number"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="percentHeight" type="number"/>
      <xs:element name="percentWidth" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="scale9Grid" type="lark.Rectangle"/>
      <xs:element name="source" type="any"/>
      <xs:element name="top" type="number"/>
      <xs:element name="verticalCenter" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Image">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Image_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Image"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ItemRenderer">
    <xs:attributeGroup ref="swan.Group"/>
    <xs:attribute name="data" type="xs:string"/>
    <xs:attribute name="itemIndex" type="xs:decimal"/>
    <xs:attribute name="selected" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="ItemRenderer_attributeElement">
    <xs:choice>
      <xs:group ref="Group_attributeElement"/>
      <xs:element name="data" type="any"/>
      <xs:element name="itemIndex" type="number"/>
      <xs:element name="selected" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ItemRenderer" m:defaultProp="elementsContent" m:defaultPropType="Array_lark.DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ItemRenderer_attributeElement"/>
        <xs:group ref="lark.DisplayObject"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ItemRenderer"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ItemTapEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="item" type="xs:string"/>
    <xs:attribute name="itemIndex" type="xs:decimal"/>
    <xs:attribute name="itemRenderer" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.IItemRenderer">
    <xs:choice>
      <xs:element ref="ItemRenderer"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.IItemRenderer">
    <xs:group ref="swan.IItemRenderer"/>
  </xs:complexType>
  <xs:group name="ItemTapEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="item" type="any"/>
      <xs:element name="itemIndex" type="number"/>
      <xs:element name="itemRenderer" type="swan.IItemRenderer"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ItemTapEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ItemTapEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ItemTapEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Label">
    <xs:attributeGroup ref="lark.TextField"/>
    <xs:attribute name="bottom" type="xs:decimal"/>
    <xs:attribute name="horizontalCenter" type="xs:decimal"/>
    <xs:attribute name="includeInLayout" type="xs:boolean"/>
    <xs:attribute name="left" type="xs:decimal"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="percentHeight" type="xs:decimal"/>
    <xs:attribute name="percentWidth" type="xs:decimal"/>
    <xs:attribute name="right" type="xs:decimal"/>
    <xs:attribute name="top" type="xs:decimal"/>
    <xs:attribute name="verticalCenter" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Label_attributeElement">
    <xs:choice>
      <xs:group ref="TextField_attributeElement"/>
      <xs:element name="bottom" type="number"/>
      <xs:element name="horizontalCenter" type="number"/>
      <xs:element name="includeInLayout" type="boolean"/>
      <xs:element name="left" type="number"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="percentHeight" type="number"/>
      <xs:element name="percentWidth" type="number"/>
      <xs:element name="right" type="number"/>
      <xs:element name="top" type="number"/>
      <xs:element name="verticalCenter" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Label">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Label_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Label"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.LayoutBase">
    <xs:attributeGroup ref="lark.EventEmitter"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="useVirtualLayout" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="swan.Group">
    <xs:choice>
      <xs:element ref="DataGroup"/>
      <xs:element ref="Group"/>
      <xs:element ref="ItemRenderer"/>
      <xs:element ref="List"/>
      <xs:element ref="ListBase"/>
      <xs:element ref="TabBar"/>
      <xs:element ref="UILayer"/>
      <xs:element ref="ViewStack"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.Group">
    <xs:group ref="swan.Group"/>
  </xs:complexType>
  <xs:group name="LayoutBase_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
      <xs:element name="target" type="swan.Group"/>
      <xs:element name="useVirtualLayout" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="LayoutBase">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="LayoutBase_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.LayoutBase"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="swan.LayoutHorizontalAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="right"/>
      <xs:enumeration value="center"/>
      <xs:enumeration value="justify"/>
      <xs:enumeration value="contentJustify"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="swan.LayoutVerticalAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="bottom"/>
      <xs:enumeration value="middle"/>
      <xs:enumeration value="justify"/>
      <xs:enumeration value="contentJustify"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="swan.LinearLayoutBase">
    <xs:attributeGroup ref="swan.LayoutBase"/>
    <xs:attribute name="gap" type="xs:decimal"/>
    <xs:attribute name="horizontalAlign" type="swan.LayoutHorizontalAlign"/>
    <xs:attribute name="paddingBottom" type="xs:decimal"/>
    <xs:attribute name="paddingLeft" type="xs:decimal"/>
    <xs:attribute name="paddingRight" type="xs:decimal"/>
    <xs:attribute name="paddingTop" type="xs:decimal"/>
    <xs:attribute name="verticalAlign" type="swan.LayoutVerticalAlign"/>
  </xs:attributeGroup>
  <xs:group name="LinearLayoutBase_attributeElement">
    <xs:choice>
      <xs:group ref="LayoutBase_attributeElement"/>
      <xs:element name="gap" type="number"/>
      <xs:element name="horizontalAlign" type="string"/>
      <xs:element name="paddingBottom" type="number"/>
      <xs:element name="paddingLeft" type="number"/>
      <xs:element name="paddingRight" type="number"/>
      <xs:element name="paddingTop" type="number"/>
      <xs:element name="verticalAlign" type="string"/>
    </xs:choice>
  </xs:group>
  <xs:element name="LinearLayoutBase">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="LinearLayoutBase_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.LinearLayoutBase"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.List">
    <xs:attributeGroup ref="swan.ListBase"/>
    <xs:attribute name="allowMultipleSelection" type="xs:boolean"/>
    <xs:attribute name="selectedIndices" type="xs:string"/>
    <xs:attribute name="selectedItems" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="List_attributeElement">
    <xs:choice>
      <xs:group ref="ListBase_attributeElement"/>
      <xs:element name="allowMultipleSelection" type="boolean"/>
      <xs:element name="selectedIndices" type="Array_any"/>
      <xs:element name="selectedItems" type="Array_any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="List" m:defaultProp="dataProvider" m:defaultPropType="swan.ICollection">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="List_attributeElement"/>
        <xs:group ref="swan.ICollection"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.List"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ListBase">
    <xs:attributeGroup ref="swan.DataGroup"/>
    <xs:attribute name="requireSelection" type="xs:boolean"/>
    <xs:attribute name="selectedIndex" type="xs:decimal"/>
    <xs:attribute name="selectedItem" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="ListBase_attributeElement">
    <xs:choice>
      <xs:group ref="DataGroup_attributeElement"/>
      <xs:element name="requireSelection" type="boolean"/>
      <xs:element name="selectedIndex" type="number"/>
      <xs:element name="selectedItem" type="any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ListBase" m:defaultProp="dataProvider" m:defaultPropType="swan.ICollection">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ListBase_attributeElement"/>
        <xs:group ref="swan.ICollection"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ListBase"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Panel">
    <xs:attributeGroup ref="swan.Component"/>
    <xs:attribute name="closeButton" type="xs:string"/>
    <xs:attribute name="elementsContent" type="xs:string"/>
    <xs:attribute name="moveArea" type="xs:string"/>
    <xs:attribute name="title" type="xs:string"/>
    <xs:attribute name="titleDisplay" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.Button">
    <xs:choice>
      <xs:element ref="Button"/>
      <xs:element ref="CheckBox"/>
      <xs:element ref="RadioButton"/>
      <xs:element ref="ToggleButton"/>
      <xs:element ref="ToggleSwitch"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.Button">
    <xs:group ref="swan.Button"/>
  </xs:complexType>
  <xs:group name="Panel_attributeElement">
    <xs:choice>
      <xs:group ref="Component_attributeElement"/>
      <xs:element name="closeButton" type="swan.Button"/>
      <xs:element name="elementsContent" type="Array_lark.DisplayObject"/>
      <xs:element name="moveArea" type="lark.DisplayObject"/>
      <xs:element name="title" type="string"/>
      <xs:element name="titleDisplay" type="swan.IDisplayText"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Panel" m:defaultProp="elementsContent" m:defaultPropType="Array_lark.DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Panel_attributeElement"/>
        <xs:group ref="lark.DisplayObject"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Panel"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="swan.Direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ltr"/>
      <xs:enumeration value="rtl"/>
      <xs:enumeration value="ttb"/>
      <xs:enumeration value="btt"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="swan.ProgressBar">
    <xs:attributeGroup ref="swan.Range"/>
    <xs:attribute name="direction" type="swan.Direction"/>
    <xs:attribute name="labelDisplay" type="xs:string"/>
    <xs:attribute name="labelFunction" type="xs:string"/>
    <xs:attribute name="slideDuration" type="xs:decimal"/>
    <xs:attribute name="thumb" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.Label">
    <xs:choice>
      <xs:element ref="Label"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.Label">
    <xs:group ref="swan.Label"/>
  </xs:complexType>
  <xs:group name="swan.UIComponent">
    <xs:choice>
      <xs:element ref="Button"/>
      <xs:element ref="CheckBox"/>
      <xs:element ref="Component"/>
      <xs:element ref="EditableText"/>
      <xs:element ref="HScrollBar"/>
      <xs:element ref="HSlider"/>
      <xs:element ref="Image"/>
      <xs:element ref="Label"/>
      <xs:element ref="Panel"/>
      <xs:element ref="ProgressBar"/>
      <xs:element ref="RadioButton"/>
      <xs:element ref="Range"/>
      <xs:element ref="ScrollBarBase"/>
      <xs:element ref="Scroller"/>
      <xs:element ref="SliderBase"/>
      <xs:element ref="ToggleButton"/>
      <xs:element ref="ToggleSwitch"/>
      <xs:element ref="VScrollBar"/>
      <xs:element ref="VSlider"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.UIComponent">
    <xs:group ref="swan.UIComponent"/>
  </xs:complexType>
  <xs:group name="ProgressBar_attributeElement">
    <xs:choice>
      <xs:group ref="Range_attributeElement"/>
      <xs:element name="direction" type="string"/>
      <xs:element name="labelDisplay" type="swan.Label"/>
      <xs:element name="labelFunction" type="Function"/>
      <xs:element name="slideDuration" type="number"/>
      <xs:element name="thumb" type="swan.UIComponent"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ProgressBar">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ProgressBar_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ProgressBar"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.PropertyEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="property" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="PropertyEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="property" type="string"/>
    </xs:choice>
  </xs:group>
  <xs:element name="PropertyEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="PropertyEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.PropertyEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.RadioButton">
    <xs:attributeGroup ref="swan.ToggleButton"/>
    <xs:attribute name="group" type="xs:string"/>
    <xs:attribute name="groupName" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.RadioButtonGroup">
    <xs:choice>
      <xs:element ref="RadioButtonGroup"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.RadioButtonGroup">
    <xs:group ref="swan.RadioButtonGroup"/>
  </xs:complexType>
  <xs:group name="RadioButton_attributeElement">
    <xs:choice>
      <xs:group ref="ToggleButton_attributeElement"/>
      <xs:element name="group" type="swan.RadioButtonGroup"/>
      <xs:element name="groupName" type="string"/>
      <xs:element name="value" type="any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="RadioButton">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="RadioButton_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.RadioButton"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.RadioButtonGroup">
    <xs:attributeGroup ref="lark.EventEmitter"/>
    <xs:attribute name="enabled" type="xs:boolean"/>
    <xs:attribute name="selectedValue" type="xs:string"/>
    <xs:attribute name="selection" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.RadioButton">
    <xs:choice>
      <xs:element ref="RadioButton"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.RadioButton">
    <xs:group ref="swan.RadioButton"/>
  </xs:complexType>
  <xs:group name="RadioButtonGroup_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
      <xs:element name="enabled" type="boolean"/>
      <xs:element name="selectedValue" type="any"/>
      <xs:element name="selection" type="swan.RadioButton"/>
    </xs:choice>
  </xs:group>
  <xs:element name="RadioButtonGroup">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="RadioButtonGroup_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.RadioButtonGroup"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Range">
    <xs:attributeGroup ref="swan.Component"/>
    <xs:attribute name="maximum" type="xs:decimal"/>
    <xs:attribute name="minimum" type="xs:decimal"/>
    <xs:attribute name="snapInterval" type="xs:decimal"/>
    <xs:attribute name="value" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="Range_attributeElement">
    <xs:choice>
      <xs:group ref="Component_attributeElement"/>
      <xs:element name="maximum" type="number"/>
      <xs:element name="minimum" type="number"/>
      <xs:element name="snapInterval" type="number"/>
      <xs:element name="value" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Range">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Range_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Range"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ScrollBarBase">
    <xs:attributeGroup ref="swan.Component"/>
    <xs:attribute name="thumb" type="xs:string"/>
    <xs:attribute name="viewport" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.IViewport">
    <xs:choice>
      <xs:element ref="DataGroup"/>
      <xs:element ref="Group"/>
      <xs:element ref="ItemRenderer"/>
      <xs:element ref="List"/>
      <xs:element ref="ListBase"/>
      <xs:element ref="TabBar"/>
      <xs:element ref="UILayer"/>
      <xs:element ref="ViewStack"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.IViewport">
    <xs:group ref="swan.IViewport"/>
  </xs:complexType>
  <xs:group name="ScrollBarBase_attributeElement">
    <xs:choice>
      <xs:group ref="Component_attributeElement"/>
      <xs:element name="thumb" type="swan.UIComponent"/>
      <xs:element name="viewport" type="swan.IViewport"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ScrollBarBase">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ScrollBarBase_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ScrollBarBase"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="swan.ScrollPolicy">
    <xs:restriction base="xs:string">
      <xs:enumeration value="auto"/>
      <xs:enumeration value="off"/>
      <xs:enumeration value="on"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="swan.Scroller">
    <xs:attributeGroup ref="swan.Component"/>
    <xs:attribute name="horizontalScrollBar" type="xs:string"/>
    <xs:attribute name="scrollPolicyH" type="swan.ScrollPolicy"/>
    <xs:attribute name="scrollPolicyV" type="swan.ScrollPolicy"/>
    <xs:attribute name="throwSpeed" type="xs:decimal"/>
    <xs:attribute name="verticalScrollBar" type="xs:string"/>
    <xs:attribute name="viewport" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.HScrollBar">
    <xs:choice>
      <xs:element ref="HScrollBar"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.HScrollBar">
    <xs:group ref="swan.HScrollBar"/>
  </xs:complexType>
  <xs:group name="swan.VScrollBar">
    <xs:choice>
      <xs:element ref="VScrollBar"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.VScrollBar">
    <xs:group ref="swan.VScrollBar"/>
  </xs:complexType>
  <xs:group name="Scroller_attributeElement">
    <xs:choice>
      <xs:group ref="Component_attributeElement"/>
      <xs:element name="horizontalScrollBar" type="swan.HScrollBar"/>
      <xs:element name="scrollPolicyH" type="string"/>
      <xs:element name="scrollPolicyV" type="string"/>
      <xs:element name="throwSpeed" type="number"/>
      <xs:element name="verticalScrollBar" type="swan.VScrollBar"/>
      <xs:element name="viewport" type="swan.IViewport"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Scroller" m:defaultProp="viewport" m:defaultPropType="swan.IViewport">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Scroller_attributeElement"/>
        <xs:group ref="swan.IViewport"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Scroller"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ScrollerThrowEvent">
    <xs:attributeGroup ref="lark.Event"/>
    <xs:attribute name="currentPos" type="xs:decimal"/>
    <xs:attribute name="toPos" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="ScrollerThrowEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
      <xs:element name="currentPos" type="number"/>
      <xs:element name="toPos" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ScrollerThrowEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ScrollerThrowEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ScrollerThrowEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.SetProperty">
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="target" type="xs:string"/>
    <xs:attribute name="value" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="SetProperty_attributeElement">
    <xs:choice>
      <xs:element name="name" type="string"/>
      <xs:element name="target" type="string"/>
      <xs:element name="value" type="any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="SetProperty">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="SetProperty_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.SetProperty"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Skin">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="class" type="xs:string"/>
    <xs:attribute name="currentState" type="xs:string"/>
    <xs:attribute name="elementsContent" type="xs:string"/>
    <xs:attribute name="height" type="xs:string"/>
    <xs:attribute name="hostComponent" type="xs:string"/>
    <xs:attribute name="maxHeight" type="xs:decimal"/>
    <xs:attribute name="maxWidth" type="xs:decimal"/>
    <xs:attribute name="minHeight" type="xs:decimal"/>
    <xs:attribute name="minWidth" type="xs:decimal"/>
    <xs:attribute name="skinParts" type="xs:string"/>
    <xs:attribute name="states" type="xs:string"/>
    <xs:attribute name="width" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="swan.Component">
    <xs:choice>
      <xs:element ref="Button"/>
      <xs:element ref="CheckBox"/>
      <xs:element ref="Component"/>
      <xs:element ref="HScrollBar"/>
      <xs:element ref="HSlider"/>
      <xs:element ref="Panel"/>
      <xs:element ref="ProgressBar"/>
      <xs:element ref="RadioButton"/>
      <xs:element ref="Range"/>
      <xs:element ref="ScrollBarBase"/>
      <xs:element ref="Scroller"/>
      <xs:element ref="SliderBase"/>
      <xs:element ref="ToggleButton"/>
      <xs:element ref="ToggleSwitch"/>
      <xs:element ref="VScrollBar"/>
      <xs:element ref="VSlider"/>
    </xs:choice>
  </xs:group>
  <xs:complexType name="swan.Component">
    <xs:group ref="swan.Component"/>
  </xs:complexType>
  <xs:group name="Skin_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="class" type="string"/>
      <xs:element name="currentState" type="string"/>
      <xs:element name="elementsContent" type="Array_lark.DisplayObject"/>
      <xs:element name="height" type="number"/>
      <xs:element name="hostComponent" type="swan.Component"/>
      <xs:element name="maxHeight" type="number"/>
      <xs:element name="maxWidth" type="number"/>
      <xs:element name="minHeight" type="number"/>
      <xs:element name="minWidth" type="number"/>
      <xs:element name="skinParts" type="Array_any"/>
      <xs:element name="states" type="Array_swan.State"/>
      <xs:element name="width" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Skin" m:defaultProp="elementsContent" m:defaultPropType="Array_lark.DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Skin_attributeElement"/>
        <xs:group ref="lark.DisplayObject"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Skin"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.SliderBase">
    <xs:attributeGroup ref="swan.Range"/>
    <xs:attribute name="liveDragging" type="xs:boolean"/>
    <xs:attribute name="pendingValue" type="xs:decimal"/>
    <xs:attribute name="slideDuration" type="xs:decimal"/>
    <xs:attribute name="thumb" type="xs:string"/>
    <xs:attribute name="track" type="xs:string"/>
    <xs:attribute name="trackHighlight" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="SliderBase_attributeElement">
    <xs:choice>
      <xs:group ref="Range_attributeElement"/>
      <xs:element name="liveDragging" type="boolean"/>
      <xs:element name="pendingValue" type="number"/>
      <xs:element name="slideDuration" type="number"/>
      <xs:element name="thumb" type="swan.UIComponent"/>
      <xs:element name="track" type="swan.UIComponent"/>
      <xs:element name="trackHighlight" type="lark.DisplayObject"/>
    </xs:choice>
  </xs:group>
  <xs:element name="SliderBase">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="SliderBase_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.SliderBase"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.State">
    <xs:attributeGroup ref="lark.HashObject"/>
    <xs:attribute name="name" type="xs:string"/>
    <xs:attribute name="overrides" type="xs:string"/>
    <xs:attribute name="stateGroups" type="xs:string"/>
  </xs:attributeGroup>
  <xs:group name="State_attributeElement">
    <xs:choice>
      <xs:group ref="HashObject_attributeElement"/>
      <xs:element name="name" type="string"/>
      <xs:element name="overrides" type="Array_any"/>
      <xs:element name="stateGroups" type="Array_any"/>
    </xs:choice>
  </xs:group>
  <xs:element name="State" m:defaultProp="overrides" m:defaultPropType="Array_any">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="State_attributeElement"/>
        <xs:group ref="any"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.State"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.TabBar">
    <xs:attributeGroup ref="swan.ListBase"/>
  </xs:attributeGroup>
  <xs:group name="TabBar_attributeElement">
    <xs:choice>
      <xs:group ref="ListBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TabBar" m:defaultProp="dataProvider" m:defaultPropType="swan.ICollection">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TabBar_attributeElement"/>
        <xs:group ref="swan.ICollection"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.TabBar"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.Theme">
    <xs:attributeGroup ref="lark.EventEmitter"/>
  </xs:attributeGroup>
  <xs:group name="Theme_attributeElement">
    <xs:choice>
      <xs:group ref="EventEmitter_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="Theme">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="Theme_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.Theme"/>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="swan.ColumnAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="left"/>
      <xs:enumeration value="justifyUsingGap"/>
      <xs:enumeration value="justifyUsingWidth"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="swan.TileOrientation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="rows"/>
      <xs:enumeration value="columns"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="swan.RowAlign">
    <xs:restriction base="xs:string">
      <xs:enumeration value="top"/>
      <xs:enumeration value="justifyUsingGap"/>
      <xs:enumeration value="justifyUsingHeight"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:attributeGroup name="swan.TileLayout">
    <xs:attributeGroup ref="swan.LayoutBase"/>
    <xs:attribute name="columnAlign" type="swan.ColumnAlign"/>
    <xs:attribute name="columnWidth" type="xs:decimal"/>
    <xs:attribute name="horizontalAlign" type="swan.LayoutHorizontalAlign"/>
    <xs:attribute name="horizontalGap" type="xs:decimal"/>
    <xs:attribute name="orientation" type="swan.TileOrientation"/>
    <xs:attribute name="paddingBottom" type="xs:decimal"/>
    <xs:attribute name="paddingLeft" type="xs:decimal"/>
    <xs:attribute name="paddingRight" type="xs:decimal"/>
    <xs:attribute name="paddingTop" type="xs:decimal"/>
    <xs:attribute name="requestedColumnCount" type="xs:decimal"/>
    <xs:attribute name="requestedRowCount" type="xs:decimal"/>
    <xs:attribute name="rowAlign" type="swan.RowAlign"/>
    <xs:attribute name="rowHeight" type="xs:decimal"/>
    <xs:attribute name="verticalAlign" type="swan.LayoutVerticalAlign"/>
    <xs:attribute name="verticalGap" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="TileLayout_attributeElement">
    <xs:choice>
      <xs:group ref="LayoutBase_attributeElement"/>
      <xs:element name="columnAlign" type="string"/>
      <xs:element name="columnWidth" type="number"/>
      <xs:element name="horizontalAlign" type="string"/>
      <xs:element name="horizontalGap" type="number"/>
      <xs:element name="orientation" type="string"/>
      <xs:element name="paddingBottom" type="number"/>
      <xs:element name="paddingLeft" type="number"/>
      <xs:element name="paddingRight" type="number"/>
      <xs:element name="paddingTop" type="number"/>
      <xs:element name="requestedColumnCount" type="number"/>
      <xs:element name="requestedRowCount" type="number"/>
      <xs:element name="rowAlign" type="string"/>
      <xs:element name="rowHeight" type="number"/>
      <xs:element name="verticalAlign" type="string"/>
      <xs:element name="verticalGap" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="TileLayout">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="TileLayout_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.TileLayout"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ToggleButton">
    <xs:attributeGroup ref="swan.Button"/>
    <xs:attribute name="selected" type="xs:boolean"/>
  </xs:attributeGroup>
  <xs:group name="ToggleButton_attributeElement">
    <xs:choice>
      <xs:group ref="Button_attributeElement"/>
      <xs:element name="selected" type="boolean"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ToggleButton">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ToggleButton_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ToggleButton"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ToggleSwitch">
    <xs:attributeGroup ref="swan.ToggleButton"/>
  </xs:attributeGroup>
  <xs:group name="ToggleSwitch_attributeElement">
    <xs:choice>
      <xs:group ref="ToggleButton_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ToggleSwitch">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ToggleSwitch_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ToggleSwitch"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.UIEvent">
    <xs:attributeGroup ref="lark.Event"/>
  </xs:attributeGroup>
  <xs:group name="UIEvent_attributeElement">
    <xs:choice>
      <xs:group ref="Event_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="UIEvent">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="UIEvent_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.UIEvent"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.UILayer">
    <xs:attributeGroup ref="swan.Group"/>
  </xs:attributeGroup>
  <xs:group name="UILayer_attributeElement">
    <xs:choice>
      <xs:group ref="Group_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="UILayer">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="UILayer_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.UILayer"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.VScrollBar">
    <xs:attributeGroup ref="swan.ScrollBarBase"/>
  </xs:attributeGroup>
  <xs:group name="VScrollBar_attributeElement">
    <xs:choice>
      <xs:group ref="ScrollBarBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="VScrollBar">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="VScrollBar_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.VScrollBar"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.VSlider">
    <xs:attributeGroup ref="swan.SliderBase"/>
  </xs:attributeGroup>
  <xs:group name="VSlider_attributeElement">
    <xs:choice>
      <xs:group ref="SliderBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="VSlider">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="VSlider_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.VSlider"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.VerticalLayout">
    <xs:attributeGroup ref="swan.LinearLayoutBase"/>
  </xs:attributeGroup>
  <xs:group name="VerticalLayout_attributeElement">
    <xs:choice>
      <xs:group ref="LinearLayoutBase_attributeElement"/>
    </xs:choice>
  </xs:group>
  <xs:element name="VerticalLayout">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="VerticalLayout_attributeElement"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.VerticalLayout"/>
    </xs:complexType>
  </xs:element>
  <xs:attributeGroup name="swan.ViewStack">
    <xs:attributeGroup ref="swan.Group"/>
    <xs:attribute name="selectedChild" type="xs:string"/>
    <xs:attribute name="selectedIndex" type="xs:decimal"/>
  </xs:attributeGroup>
  <xs:group name="ViewStack_attributeElement">
    <xs:choice>
      <xs:group ref="Group_attributeElement"/>
      <xs:element name="selectedChild" type="lark.DisplayObject"/>
      <xs:element name="selectedIndex" type="number"/>
    </xs:choice>
  </xs:group>
  <xs:element name="ViewStack" m:defaultProp="elementsContent" m:defaultPropType="Array_lark.DisplayObject">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any namespace="##other"/>
        <xs:group ref="ViewStack_attributeElement"/>
        <xs:group ref="lark.DisplayObject"/>
      </xs:choice>
      <xs:attributeGroup ref="swan.ViewStack"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="boolean">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="string">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="number">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Object">
    <xs:complexType>
      <xs:attribute name="id" type="xs:string"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="Array">
    <xs:complexType>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:any/>
      </xs:choice>
      <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>